* {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    :root {
        --font-1: Arial, Helvetica, sans-serif;
        --creamy-white: #F5F5F2;
        --dark-grey: #3A3244;
        --main-green: #72C27C;
        --white: #fff;
		--rounded: 36px;
    }

body {
	background-color: var(--creamy-white);
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--creamy-white);
}

h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;
	display: flex;
	justify-content: right;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	font-family: var(--font-1);
	font-weight: bold;

	text-align: center;
	display: block;
}

.main-nav a {
	color: var(--dark-grey);
	font-size: .99em;
}

.main-nav a:hover {
	color: var(--white);
	background-color: var(--main-green);
	border-radius: var(--rounded);
}

.partner-h1 {
	font-size: 80px;
	font-weight: bold;
	font-family: var(--font-1);
	color: var(--dark-grey);
	width:10em;
    margin: 0 auto;
    text-align: center;
	padding-top: 6rem;
}

.partner-h2 {
	font-size: 45px;
	font-weight: bold;
	font-family: var(--font-1);
	color: var(--dark-grey);
	width:15em;
    margin: 0 auto;
    text-align: center;
}

.ansøgknap {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 5rem;
}

.forskudsopgørelse {
	color: var(--main-green);
}

.partner-box {
	display: block;
	padding-bottom: 5rem;
	padding-top: 5rem;
}

.logoer {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;

	background-color: #f4f4f4;

	flex-direction: row;
	justify-content: right;
}

footer {
	background-color: var(--dark-grey);
	display: flex;
	justify-content: flex-end;
}

.footer-nav {
	background-color: var(--dark-grey);
	color: var(--white);
}