
.partner-h1 {
	font-size: 80px;
	font-weight: bold;
	font-family: var(--font-1);
	color: var(--dark-grey);
	width:10em;
    margin: 0 auto;
    text-align: center;
	padding-top: 6rem;
}

.partner-h2 {
	font-size: 45px;
	font-weight: bold;
	font-family: var(--font-1);
	color: var(--dark-grey);
	width:15em;
    margin: 0 auto;
    text-align: center;
}

.ansoegknap {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 5rem;
}

.partner-box {
	display: block;
	padding-bottom: 5rem;
	padding-top: 5rem;
}

.partnerlogoer {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

<<<<<<< HEAD
.header {
	padding-top: .5em;
	padding-bottom: .5em;

	background-color: #f4f4f4;

	flex-direction: row;
	justify-content: right;
}

.nemlogo{
	width: 275;
}

footer {
	background-color: var(--dark-grey);
	display: flex;
	justify-content: flex-end;
}

.footer-nav {
	background-color: var(--dark-grey);
	color: var(--white);
=======
.footer2{
	background-color: #72C27C;
	display: block;
	text-align: center;
	padding: 27px;
>>>>>>> master
}