* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
    
:root {
    --font-1: Arial, Helvetica, sans-serif;
    --creamy-white: #F5F5F2;
    --dark-grey: #3A3244;
    --main-green: #72C27C;
    --white: #fff;
	--rounded: 36px;
}

body {
	background-color: var(--creamy-white);
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	max-width: 100%;
    overflow-x: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--creamy-white);
}

h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}



.main-nav {
	margin-top: 5px;
	display: flex;
	justify-content: right;
	align-items: center;

}


.logo a,
.main-nav a {
	padding: 10px 15px;
	font-family: var(--font-1);
	font-weight: bold;
	text-align: center;
	display: block;
}

.main-nav a {
	color: var(--dark-grey);
	font-size: .99em;
}

.main-nav a:hover {
	color: var(--white);
	background-color: var(--main-green);
	border-radius: var(--rounded);
}

.index-container {
	display: flex;
	justify-content: stretch;
}

.index-text {
	padding-bottom: 20rem;
	padding-left: 17rem;
	padding-top: 17rem;
	padding-right: 0rem;
}

.index-h1 {
	font-size: 75px;
	line-height: normal;
	font-weight: bold;
	font-family: var(--font-1);
	color: var(--dark-grey);
	width: 820px;
}

.forskudsopgørelse {
	color: var(--main-green);
}
.h1-green {
	color: var(--main-green);
}
.h1-scan {
	font-family: var(--font-1);
	color: var(--dark-grey);
	font-size: 50px;
}
.scan-text {
	width: 500px;
	
}

.btn-container {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
}
.btn {
	border-radius: var(--rounded);
	border: 1;
	width: 22rem;
	padding: 0.5rem;
	background-color: var(--white);
	font-size: 40px;
	font-weight: bold;
	font-family: var(--font-1);
	box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.16);
	justify-content: center;
	vertical-align: middle;
}

.icon-index{
	vertical-align: middle;
}
.index-img {
    justify-content: center;
}
.nemskat-mockup {
	position: relative;
	left: -15em;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #f4f4f4;
<<<<<<< HEAD
	display: flex;
=======
>>>>>>> master
	flex-direction: row;
	justify-content: space-between;
	
}

<<<<<<< HEAD
.nemlogo{
	padding-left: 30px;
	margin: 0;
	align-self: center;
	justify-content: left;


}

.link-p {
	font-size: 27px;
}

=======
.funktioner-scan {
	display: flex;
	justify-content: space-evenly;
	height: 880px;
	width: 1920px;
	border-bottom: solid var(--dark-grey);
}

.funktioner-fradrag {
	display: flex;
	justify-content: space-evenly;
	height: 1080;
	width: 1920px;
	border-bottom: solid var(--dark-grey);
}

.funktioner-opgorelse {
	display: flex;
	justify-content: space-evenly;
	height: 1080;
	width: 1920px;
	border-bottom: solid var(--dark-grey);
}
>>>>>>> master

footer {
	background-color: var(--dark-grey);
	display: flex;
	justify-content: flex-end;
}

.footer-nav {
	background-color: var(--dark-grey);
	color: var(--white);
}