* {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    :root {
        --font-1: Arial, Helvetica, sans-serif;
        --creamy-white: #F5F5F2;
        --dark-grey: #3A3244;
        --main-green: #72C27C;
        --white: #fff;
    }

body {
	
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;

	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;

	background-color: #f4f4f4;

	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);

	flex-direction: row;
	justify-content: right;
	

}




/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	
		width: 100%;

	}
	

}

@media (min-width: 1025px) {


}
